@import "mixin";
body {
  @include font-family;
  @include minMaxScreen;
  color: #4E4E4E;
}
.container {
  width: 100%;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  @include font-family;
  font-weight: 700;
  font-size: 14px;
}
.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end
}
.burger-menu {
  width: 44px;
  height: 37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.burger-menu_close {
  background: #000;
  color: #fff;
  margin: 20px 0;
}
.navbar {
    position: absolute;
    width: 50%;
    top: 55px;
    display: none;
    background: #f5f5f5;

  &__link {
    padding-left: 10%;
    text-decoration: none;
    list-style-type: none;
  }
  &__link:hover {
    background: #e5e5e5;
  }
  &__item {
    @include font-family;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none;
    list-style-type: none;
  }
}

.active {
  color: #57A4A4;
}
.slider {
  margin: 0 25px;
  &__img {
    width: 100%;
  }
}

.posts {
  margin: 38px 0 0 25px;
}
.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 30px;

  &__img {
    max-width: 160px;
  }
  &__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  &__name {
    @include font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
  }
  &__use {
    @include font-family;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #7C7C7C;
  }
  &__info {
    display: none;
    @include font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    color: #5C5C5C;
  }
}
.instagram {
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  &__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    width: 90%;
  }
  &__text span {
    @include font-family;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    display: none;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  &__img {
    display: flex;
    width: 90%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
}
.img2 {
  display: none;
}
.img3 {
  display: none;
}
.img4 {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: justify;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 38px 10px 47px 10px;
  width: 100%;

  &__name {
    @include font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FEFEFE;
    padding-bottom: 10px;
  }
  &__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    @include font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
    padding-bottom: 25px;
  }
  &__text span {
    display: none;
  }
  &__icon {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;
  }
  &__contact {
    width: 235px;
    @include font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
  }
}
.icons {
  padding-left: 6px;
}
@media (min-width: 768px) {
  .navbar {
     background: rgba(0, 0, 0, 0.0001);
      position: static;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      padding: 20px;

    &__link {
      padding-left: 0;
    }
    &__link:hover {
      background: 0 0;
    }
  }
  .burger-menu {
    display: none;
  }
  .post {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    display: flex;
    flex-direction: row;

    &__text {
      -webkit-box-pack: start;
      -webkit-justify-content: start;
      -ms-flex-pack: start;
      justify-content: start;
      margin-left: 5%;
      width: 50%;
      height: 100%;
    }
    &__name {
      @include font-family;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #4E4E4E;
    }
    &__use {
      @include font-family;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #7C7C7C;
    }
    &__info {
      display: block;
      width: 404px;
      height: 40px;
      @include font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      align-items: center;
      color: #5C5C5C;
    }
  }
  .instagram {
    background: rgba(0, 0, 0, .03);

    &__text span {
      display: block;
    }
    &__text2 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__img {
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 90%;
    }
  }
  .img2 {
    display: block;
  }
  .img3 {
    display: block;
  }
  .imge {
    padding-left: 9px;
  }
  .footer {
    &__text {
      padding-top: 22px;
      width: 684px;
      @include font-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      display: block;
      align-items: center;
      text-align: center;
      color: #B9B9B9;
    }
    &__text span {
      @include font-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      display: block;
      align-items: center;
      text-align: center;
      color: #B9B9B9;
    }
    &__contact {
      width: 613px;
      height: 26px;
      @include font-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #B9B9B9;
    }
  }
}
@media (min-width: 1200px) {
  .posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 600px;
  }
  .post {
    width: 50%;

    &__text {
      width: 100%;
    }
  }
  .instagram {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .03);
    &__text {
      width: 100%;
    }
    &__img {
      width: 100%;
    }
  }
  .img4 {
    display: block;
  }
}

