@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.page {
    width: 100%;
    height: 768px;
    background: url("../img/background.png")no-repeat;
    background-size: cover;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    display: inline-block;
}
.header-logo-img {
    width:53px;
    height:47px;
    background: url("../img/logo.png") no-repeat;
}
.header-logo:hover .header-logo-img {
    background: url("../img/logo2.png") no-repeat;
}
.header-logo:hover a {
    color: #F26522;
}
.header-contact:hover a {
    color: #F26522;
}
.header-logo {
    padding-top: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header-logo-name {
    padding-left: 8px;
}
.header-logo_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.header-contact {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 17px;
}
.email {
    padding-bottom: 19px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: stretch;
    width: 1030px;
    height: 560px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main a {
    text-decoration: none;
    color: #ffffff;
}
.main-text {
    margin-top: 20px;
}
.main-container1 {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.main-container-img {
    position:relative;
    width: 302px;
    height: 260px;
}
.block-text {
    position:absolute;
    left:0;
    bottom:40px;
    right:0;
    background:#F26522;
    height: 55px;
    display:none;
}
.main-container-img:hover .block-text {
    display:block;
}
span::after {
    content: url("../img/vector.png");
    padding: 16px;
}
.main-container1:hover a {
    color: #F26522;
}
.block-text-from {
    position: absolute;
    width: 22px;
    height: 14px;
    left: 21px;
    top: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF
}
.block-text-€ {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    padding: 29px 0 12px 16px;
}
.block-text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 128px;
}
.main-container2 {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.main-container2:hover a {
    color: #F26522;
}
.main-container3 {
    display: flex;
    flex-direction: column;
}
.main-container3:hover a {
    color: #F26522;
}
.main-container4 {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.main-container4:hover a {
    color: #F26522;
}
.main-container5 {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.main-container5:hover a {
    color: #F26522;
}
.main-container6 {
    display: flex;
    flex-direction: column;
}
.main-container6:hover a {
    color: #F26522;
}
.footer {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;
    padding-top: 48px;
}