@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body, html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: yellow;
    background-color: #000;
    overflow: hidden;
}
.content {
    position: absolute;
    width: 18em;
    height: 25em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform: perspective(400px) rotateX(25deg);
}
.content:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    pointer-events: none;
}
.text-content {
    position: absolute;
    top: 100%;
    animation-name: animation;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
p {
    text-align: center;
    margin: 30px 0;
}
@keyframes animation {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}