@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.body{
    width: 100%;
    height: 1626px;
    background: rgba(0, 0, 0, 0.0001);
}
.header-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header-menu li {
    display: inline-block;
}
.header-menu a {
    color: red;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding: 25.5px 0 25.5px 0;
}
.header-menu-photoapp {
    padding-left: 72px;
    padding-right: 72px;
}
.header-menu-design {
    padding-right: 50px;
}
.img{
    width: 100%;
    height: 789px;
    left: 0;
}
.main-text{
    padding: 49px 0 38px 0;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
}
.main-text-center-1 {
    padding: 0 67.5px;
    margin: 0 0 28px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.main-text-center-2 {
    padding: 0 67.5px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
div {
    display: flex;
    justify-content: center;
}
.button {
    margin-top: 66px;
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
}
.button-get-started {
    padding: 18px 42.5px 17px 43.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer {
    width: 100%;
    height: 39px;
    margin-top: 42px;
}
.footer-text{
    margin: 0;
    padding-top: 40px;
    padding-right: 105px;
    padding-bottom: 29px;
    float: right;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}