.container {
    display: flex;
    flex-wrap: wrap;
}
.card-container {
    flex: 0 1 25%;
    padding: 20px;
    box-sizing: border-box;

}
.card-header {
    display: flex;
    flex-wrap: wrap;
}
.card-name {
    font-weight: 700;
    font-size: 25px;
    flex: 0 1 90%;
    text-decoration: none;
    color: black;
}
.card-email {
    padding-bottom: 15px;
}
.btn-del {
    cursor: pointer;
    flex: 0 1 10%;
}

.card-title {
    padding-bottom: 10px;
}

