@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
.page {
    width: 100%;
    height: 768px;
    background: url("../img/background.png")no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 58px;
    margin-bottom: 54px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
.header-name {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 18px 0 18px 79px;
}
.header a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
}
.header-contact {
    display: flex;
    align-items: center;
}
.header-logo svg {
    margin-right: 25px;
}
svg:hover path {
    fill: #3CB878;
}
.header-text {
    padding-left: 27px;
    padding-right: 79px;
}
.header-logo::after{
    content: " ";
    float: right;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.header-text p{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.header-name:hover {
    color: #3CB878;
    transition: color 1s;
}
.header-text:hover a {
    color: #3CB878;
    transition: color 1s;
}
.main {
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background: #FFFFFF;
    border: rgba(60, 184, 120, 0.8) solid 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: stretch;
}
.registration {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #434343;
    margin-top: 31px;
    display: flex;
}
.registration span {
    margin-left: 43px;
}
.registration::before {
    content: url("../img/shape.png");
    display: flex;
}
.log {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #3CB878;
    margin-left: 216px;
}
.log:hover {
    text-decoration: underline;
    color: #01813F;
    transition: color 1s;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}
.facebook {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    background: #305DB8;
    border: solid 1px #305DB8;
    border-radius: 2px;
    margin-top: 15px;
}
.facebook-img {
    margin: 0 18.77px 0 16.77px;
}
.facebook span {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 22px;
    display: flex;
    text-align: center;
    align-items: center;
}
.facebook span::before {
    content: " ";
    float: left;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-right: 18px;
}
.facebook:hover {
    background-color: #022263;
    transition: background-color 1.5s;
}
.google {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    background: #DF4A32;
    border: solid 1px #DF4A32;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 4px;
}
.google span {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    color: #FFFFFF;
    padding-right:27px;
    display: flex;
    text-align: center;
}
.google-img {
    margin: 0 7px 0 12px;
}
.google span::before {
    content: " ";
    float: right;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-right: 30px;
}
.google:hover {
    background: #AB1F09;
    transition: background-color 1.5s;
}
.selection {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #848484;
}
.box span {
    padding-left: 5px;
    padding-right: 5px;
}
.box {
    margin:0 auto;
    text-align:center
}
.selection {
    overflow:hidden;
}
.selection:before,.selection:after {
    content:'';
    display:inline-block;
    vertical-align:middle;
    box-sizing:border-box;
    width:149px;
    height:1px;
    background:#F2F2F2;
    border-width:0 .5em 0;
}
.selection:before {
    margin-left:-100%;
}
.selection:after {
    margin-right:-100%;
}
.main-form {
    margin-top: 12px;
    margin-bottom: 30px;
}
.form input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 322px;
    height: 44.08px;
    padding: 0 20px;
}
.form input:focus {
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.form p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #BEBEBE;
    margin-bottom: 15px;
}
.check-box {
    text-align: left;
    padding-left: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #434343;
}
.check-box span {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #3CB878;
}
.check {
    background: rgba(60, 184, 120, 0.8);
    border: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    padding: 16px 99px;
    margin-bottom: 38px;
}
.check:hover {
    background: #01813F;
    transition: background-color 1.5s;
 }
.check-box span:hover {
    color: #01813F;
    text-decoration: underline;
    transition: color 1s;
}