body {
    font-family: 'Montserrat', sans-serif;
}
.slider {
    background: url("../img/slider/section1.jpg") fixed;
    height: 1017px;
}
.header {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar {
    width: 1200px;
    margin: 0 auto;
    height: 120px;
}
.logo {
    width: 180px;
    height: 120px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.logoH {
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: left;
    margin-left: -45px;
}
.logoText {
    font-size: 32px;
    font-weight: 300;
    color: #FFFFFF;
    margin-left: 20px;
}
.logoTextSpan {
    color: #18CFAB;
    font-size: 32px;
    font-weight: 700;
}
.menuNav {
    width: 980px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menuNavItems {
    padding-bottom: 51px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 53px;
    border-bottom: 1px solid transparent;
}
.menuNavItems:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}
.menuNavItemsSearch svg:hover path {
    fill: #18CFAB;
}
.mainContent {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.textTheme {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;
}
.spanTheme {
    color: #18CFAB;
}
.textContent {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-size: 79px;
    margin-top: 35px;
    font-weight: 900;
}
.textContentSlide {
    color: #D4D4D4;
    font-size: 34px;
    text-align: center;
    margin-top: 25px;
}
.buttonContainer {
    text-align: center;
    margin-top: 6px;
}
.buttonFirst {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    padding: 15px 20px;
    background-color: #18CFAB;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-top: 5px solid #FFFFFF;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 100px;
}
.buttonFirst:focus {
    outline: none;
}
.buttonSecond {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    padding: 15px 20px;
    margin-left: 20px;
    background-color: #00CBF6;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-top: 5px solid #FFFFFF;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 50px;
}
.cubes {
    display: flex;
    align-items: center;
}
.cubesSlide {
    width: 480px;
    height: 374px;
    background-color: #18CFAB;
    border-top: 7px solid #FFFFFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.cubesSlide:nth-child(odd) {
    background-color: #1C2A33;
}
.textCubes {
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 30px;
    font-size: 20px;
}
.textColor {
    color: #18CFAB;
}
.ourServices {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.tabs {
    width: 1160px;
    height: 240px;
}
.tabsCaption {
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: inherit;
    color: #717171;
}
.tabsCaption:after {
    content: '';
    display: table;
    clear: both;
}
.tabsCaption li {
    width: 191px;
    height: 73px;
    background: #F8FCFE;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EDEFEF;
}
.tabsCaption li:not(.active) {
    cursor: pointer;
}
.tabsCaption .active {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
    border: 1px solid #18CFAB;
}
.tabsCaption .active:before {
    content: '▼';
    position: absolute;
    bottom: -23px;
    left: 83px;
    right: 0;
    color: #18CFAB;
    font-size: 29px;
}
.tabsCaption li:hover {
    border: 1.5px solid #18CFAB;
}
.tabsContent {
    display: none;
    background: #FFFFFF;
    margin-top: 30px;
}
.tabsContent.active {
    display: block;
}
.imgTab {
    float: left;
    margin-right: 20px;
    width: 192px;
    height: 139px;
}
.textTab {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    display: flex;
}
.purchase {
    height: 460px;
    background: url("../img/slider/section2.jpg") fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 460px;
}
.content {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
}
.textPurchase {
    text-transform: uppercase;
    font-size: 40px;
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 13px;
}
.subText {
    font-size: 16px;
    color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 13px;
}
.breakingNews {
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.headline {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    padding-bottom: 25px;
}
.headlineLine {
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18CFAB;
    background-color: #18CFAB;
    margin-bottom: 50px;
    color: #18CFAB;
}
.testimonialsContent {
    display: none;
}
.activeFeedback {
    display: block;
}
.lineForBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.blogBlock {
    width: 264px;
    height: 280px;
    display: flex;
    flex-flow: column;
    margin: 20px 23px;
}
.imgBlock {
    width: 264px;
    height: 209px;
    position: relative;
}
.imgBlock img {
    width: 263px;
    height: 208px;
}
.dateBlock {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    color: #FFFFFF;
}
.dateBlock:hover {
    background-color: #18CFAB;
}
.day {
    text-align: center;
    margin-top: 15px;
}
.month {
    text-align: center;
    margin-top: 10px;
}
.description {
    width: 263px;
    height: 72px;
}
.nameImg {
    color: #717171;
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 900;
    margin-top: 10px;
    cursor: pointer;
}
.nameImg:hover {
    color: #18CFAB;
}
.byAdmin {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 7px;
}
.slash {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 7px;
}
.comments {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 7px;
}
.ouaAmazingWork {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #E9EDEF;
}
.contentAmazing {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-top: 60px;
    min-height: 1212px;
}
.cleaner {
    clear: both;
}
.menu {
    padding-bottom: 30px;
    padding-top: 70px;
}
.menuItemsForCategory {
    display: inline-block;
    list-style-type: none;
    background: #E9EDEF;
    margin: -3px;
}
.categoryItems {
    list-style-type: none;
    display: block;
    float: left;
    width: 278px;
    height: 200px;
    position: relative;
}
.categoryItemsSecond {
    display: none;
}
.displayBlock {
    display: block;
}
.blackFon {
    width: 278px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #E9EDEF;
    opacity: 0;
    border: 2px solid #18CFAB;
}
.blackFon:hover {
    opacity: 1;
    transition: 400ms;
}
#loadMoreButton {
    padding: 10px 20px;
    background-color: #18CFAB;
    color: #FFFFFF;
    width: 165px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 3px;
}
.plus {
    margin-left: 5px;
}
#loadMoreButton:active, #loadMoreButton:focus {
    outline: none;
}
#loadMoreButton::-moz-focus-inner {
    border: 0;
}
.imgLoadMore {
    padding-right: 15px;
}
.wrapCategory {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.imgLinkMain {
    color: #717171;
    text-decoration: none;
    background-color: #E9EDEF;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #DADADA;
}
.selected a:visited {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.selected a {
    border: 2px solid #18CFAB;
}
.feedback {
    height: 850px;
    background: url("../img/slider/section3.jpg") fixed;
}
.headlineFeedback {
    width: 613px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 98px;
    margin-bottom: 25px;
}
.gallery {
    height: 1370px;
    display: flex;
    justify-content: center;
}
.textGallery {
    margin-top: 108px;
}

.wrapForMasonryImg {
    width: 100%;
}
.footer {
    height: 110px;
    background-color: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textFooter {
    text-align: center;
    font-size: 14pt;
    color: rgba(174, 174, 174, 255);
}
.spanFooter {
    color: #18CFAB;
    cursor: pointer;
}
.menuList > ul > li {
    float: left;
}
.wrapLeft {
    width: 375px;
    height: 1000px;
    margin-right: 15px;
    float: left;
}
.wrapCenter {
    width: 375px;
    height: 1000px;
    margin-right: 15px;
    float: left;
}
.wrapRight {
    width: 375px;
    height: 1000px;
    float: left;
}
.grid {
    width: 1200px;
}
.grid-item {
    display: inline-block;
    width: 120px;
    height: 92px;
    border: 1px solid #FFFFFF;
}
.grid-item--width2 {
    width: 180px;
}
.grid-item--height2 {
    height: 168px;
}
.grid-item--width3 {
    width: 370px;
}
.grid-item--height3 {
    height: 260px;
}
.grid-item--width4 {
    width: 363px;
}
.grid-item--height4 {
    height: 290px;
}
.grid-item--height5 {
    height: 380px;
}
.grid-item--height6 {
    height: 247px;
}
.grid-item--height7 {
    height: 373px;
}
.nextImg {
    display: none;
}
.imgHoverBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgHoverBlock:hover {
    padding-top: 40px;
}
.imgHoverBlockText {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 25px;
}
.imgHoverBlockTextP {
    color: #8A8A8A;
    margin-top: 2px;
}
.contentFeedback {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blockTestimonials {
    width: 500px;
    height: 120px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotes {
    color: #18CFAB;
}
.testimonialsText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    margin-top: 30px;
    width: 1160px;
    height: 45px;
}
.testimonialsName {
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}
.testimonialsPosition {
    color: #BBBBBB;
    font-size: 13px;
    text-align: center;
    margin-bottom: 19px;
}
.testimonialsUser {
    width: 164px;
    height: 165px;
    border-radius: 50%;
    background-color: rgba(24, 207, 171, 0.2);
    display: inline-block;
    margin-left: 500px;
}
.testimonialsUserAround {
    width: 144px;
    height: 143px;
    border-radius: 50%;
    background-color: #18CFAB;
    display: inline-block;
    margin: 10px;
}
.myNawLeft {
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    color: #BBBBBB;
    background-color: rgba(28, 28, 28, 0);
}
.myNawLeft:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: #FFFFFF;
}
.myNawRight {
    padding: 8px 10px;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    background-color: rgba(28, 28, 28, 0);
}
.myNawRight:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: #FFFFFF;
}
.testimonialsUserImgSmallBlockCircle {
    height: 75px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}
.testimonialsUserImgSmallBlockCircleActive {
    width: 66px;
    height: 74px;
    border-radius: 50%;
    background-color: rgba(24, 207, 171, 0.2);
    margin-top: 10px;
    float: left;
    margin-left: 80px;
    cursor: pointer;
}
.testimonialsUserImgSmall {
    float: left;
    margin-top: 4px;
    margin-left: 7px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(24, 207, 171, 0.2);
    outline: none;
}
.testimonialsUserImgSmall:active {
    outline: none;
}
.testimonialsUserImgSmall:focus {
    outline: none;
}
.activeBlock {
    background-color: #18CFAB;
}
.classForSlickWidth {
    width: 1200px;
}
.classForSlick2 {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.slick-active .testimonialsUserImgSmall {
    margin-top: -5px;
    border: 2px solid #18CFAB;

}
.activeMiniImg {
    bottom: 10px;
    position: relative;
}