.newBtnColor{
    position: absolute;
    left: 93%;
    top: 20px;
    cursor: pointer;
    display: flex;
    text-align: center;
    vertical-align: center;
    background-color: #4bcaff;
}
.spanLogo{
    color: green;
}
.main-aside-nav-menu-li {
    background-color: green;
    color: #FFFFFF;
}