@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body{
    width: 2018px;
    height: 1282px;
    left: calc(50% - 1480px/2);
    top: calc(50% - 1282px/2);
    background: rgba(0, 0, 0, 0.0001);
}
.container{
    width: 100%;
    max-width: 1283px;
    margin: 0 auto;
}
.header-logo{
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    align-items: flex-end;
}
.header-logo-text .spanLogo {
    color: #4BCAFF;
}


.header-menu{
    margin-top: 38px;
    display: flex;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    background: #35444F;
}
.header-menu li {
    display: flex;
    padding: 26px;
    list-style: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header-menu li a {
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}
.header-menu li:hover {
    background: #222F3A;
}

.header-menu-new:before{
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
.main {
    margin-top: 48px;
    display: flex;
    vertical-align: middle;
}
.main-aside-nav {
    width: 344px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-right: 52px;
}
.main-aside-nav-menu {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    align-items: center;
    text-align: left;
    flex-direction: column;
}
.main-aside-nav-menu li {
    width: 342px;
    height: 81px;
    display: flex;
    list-style: none;
}
.main-aside-nav-menu a {
    display: flex;
    text-decoration: none;
    color: #485863;
    padding: 27px 42px 27px 42px;
}
.main-aside-nav-menu li:hover {
    background: #DBDBDB;
}

.box-img {
    width: 885px;
    height: 529px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.box-img:hover img {
    transform: scale(1.1);
}
.img {
    padding: 75px 269px 73px 297px;
    transition: transform .2s;
}
.main__text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    width: 885px;
    height: 120px;
    margin-bottom: 34px;
}
.main__text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    width: 885px;
    height: 120px;
    margin-bottom: 54px;
}
.footer {
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    margin-bottom: 30px;
}
.footer-nav__menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: center;
    padding: 20px 135px 21px 40px;
}
.footer-nav__menu li a {
    display: flex;
    text-decoration: none;
    color: #0C1927;
    padding-right: 20px;
}
.footer-nav__menu a:hover {
    color: #3181A6;
    text-decoration: underline;
}
.footer-nav__text {
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}
.changeTheme{
    position: absolute;
    margin: auto 0;
    left: 93%;
    top: 20px;
    width: 80px;
    height: 50px;
    background-color: green;
    display: flex;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    color:#fff;
}
#newTheme{
    position: absolute;
    left: 93%;
    bottom: 0;
    top: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.btnText {
    color: #ffffff;
    border: #01813F;
    background-color: #01813F;
    display: flex;
    text-align: center;
    justify-content: center;
}