.container {
    margin: 0 auto;
    width: 1462px;
}
.main-back {
    background: url("../img/header.jpeg") fixed no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-logo {
    width: 216px;
    height: 33px;
    margin-top: 46px;
}
.header-tel {
    list-style: none;
    text-decoration: none;
    color: #D6AF76;
    padding-top: 50px;
    padding-left: 824px;
}
.header-button {
    box-sizing: border-box;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}
.header-button a {
    list-style: none;
    text-decoration: none;
    color: #E4B564;
    padding-left: 10px;
}
.main {
    box-sizing: border-box;
}
.container-company h1{
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 128px;
}
.container-infrastructure-name {
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 41px;
    padding-bottom: 41px;
    width: 1182px;
}
.container-infrastructure {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    grid-gap: 27px;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    margin-bottom: 80px;
}
.container-infrastructure * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    height: 468px;
    text-align: center;
}
.container-infrastructure-item_1 {
    grid-area: item1;
    background-color: #634F2C;
    width: 467px;
}
.container-infrastructure-item_2 {
    grid-area: item2;
    background: #B4A385;
    width: 467px;
}
.container-infrastructure-item_3 {
    grid-area: item3;
    background: #E4B564;
    width: 467px;
}
.container-infrastructure-item_4{
    grid-area: item4;
    background: #635A4A;
    width: 715px;
}
.container-infrastructure-item_5 {
    grid-area: item5;
    background: #B08C4D;
    width: 715px;
}
.container-park {
    background: #171717;
}
.container-park h1 {
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 82px;
    padding-bottom: 94px;
}
.container-tech {
    margin: 0;
    display: grid;
    height: 900px;
    gap: 30px;
    grid-template-areas:
    "item_1 item_2 item_3"
    "item_4 item_2 item_6"
    "item_4 item_5 item_6"
    "item_4 item_5 item_7";
    padding-bottom: 192px;
}
.container-tech * {
    padding: 44px 0 0 52px;
}
.container-tech-item_1 {
    grid-area: item_1;
    background: #0E0E0E;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.container-tech-item_2 {
    grid-area: item_2;
    background: #242424;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.container-tech-item_3 {
    grid-area: item_3;
    background: #1F1F1F;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.container-tech-item_4 {
    grid-area: item_4;
    background: #1F1F1F;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
     color: #FFFFFF;
}
.container-tech-item_5 {
    grid-area: item_5;
    background: #E4B564;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.container-tech-item_6 {
    grid-area: item_6;
    background: #0E0E0E;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.container-tech-item_7 {
    grid-area: item_7;
    background: #0A0909;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer {
    background: url("../img/parallax.jpeg") fixed no-repeat;
    background-size: cover;
    height: 1300px;
}
.footer h1 {
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 172px;
    padding-bottom: 72px;
}
.project{
    box-sizing: border-box;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    color: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 161px;
}
.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.container-wrapper * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-wrapper-item_1 {
    background: #634F2C;
    width: 487px;
    height: 391px;
}
.container-wrapper-item_2 {
    background: rgba(232, 210, 171, 0.76);
    width: 487px;
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-wrapper-item_3 {
    background: #E4B564;
    width: 487px;
    height: 391px;
}
.container-wrapper-item_4 {
    background: #635A4A;
    width: 487px;
    height: 391px;
}
.container-wrapper-item_5 {
    background: #B08C4D;
    width: 487px;
    height: 391px;
}
.container-wrapper-item_6 {
    background: #634F2C;
    width: 487px;
    height: 391px;
}
.text {
    padding-top: 16px;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 326px;
    height: 140px;
}